<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958727485943-4f2d3gl1e19h6huqfsg90f6g5h97e6t1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958727485943-4f2d3gl1e19h6huqfsg90f6g5h97e6t1</string>
	<key>API_KEY</key>
	<string>AIzaSyBVlbok8OuHG0n59NatqmqeZ84ah0_igfM</string>
	<key>GCM_SENDER_ID</key>
	<string>958727485943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.Petersen.Nico.Trinkspiel</string>
	<key>PROJECT_ID</key>
	<string>trinkspiel-5be43</string>
	<key>STORAGE_BUCKET</key>
	<string>trinkspiel-5be43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958727485943:ios:fb244f9344540e97f856f2</string>
</dict>
</plist>